/* 预设值 */
.leftfix{
    float:left;
}
.rightfix{
    float:right;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
a{
    text-decoration:none;
    color:#666;
    font-size:12px;
}
a:link{
    /* 未访问 */
    text-decoration:none;
    color:#000;
}
a:visited{
    /* 已访问 */
    text-decoration:none;
    color:#666;
}
a:hover{
    text-decoration:none;
    color: #b93232;
}
a:active{
    text-decoration:none;
    color:#666;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
dt,dd{
    margin:0;
    display:inline-block;
}
.code{
    width: 239px;
    height: 190px;
}
/* 预设值 */

/* 版心 */
.container{
    width:1190px;
    margin:0 auto;
}

/* 顶部导航条 Start */
.topBar{
    height:30px;
    background-color:#ECECEC;
}
/* ----左侧欢迎区 */
.leftWelcome{
    height:30px;
    line-height:30px;
    font-size:0;
    color:#666;
}
.leftWelcome span,.leftWelcome a{
    font-size:12px;
}
.leftWelcome .hello{
    margin-right:13px;
}
.leftWelcome .login{
    /*margin-right:10px;*/
    padding-right:10px;
    border-right:1px solid #666;
}
.leftWelcome .register{
    margin-left:10px;
}
/* ----右侧导航区 */
.rightNavigator .list{
    height:30px;
    line-height:30px;
}
.rightNavigator .list li{
    float:left;
}
.rightNavigator .list li a{
    padding:0 15px;
    border-right:1px solid #666;
}
.rightNavigator .list li:first-child a{
    padding-left:0;
}
.rightNavigator .list li:last-child a{
    padding-right:0;
    border: 0;
}
/* 顶部导航条 End */

/* 头部区 Start */
.header{
    height:120px;
    /*background-color:palevioletred;*/
}
.logo .picture{
    width:190px;
    height:120px;
    text-align:center;
    line-height:120px;
    font-size:0;
}
.logo .picture img{
    width:60%;
    vertical-align:middle;
}
.header .search{
    font-size:0;
}
.header .search form{
    margin-top:42px;
}
.header .search form input{
    width:508px;
    height:34px;
    border:1px solid #DD302D;
    padding:0;
}
.header .search form button{
    width:80px;
    height:36px;
    background-color: #DD302D;
    padding:0;
    border:0;
    vertical-align:top;
    background-image:url("../images/fangdajing.png");
    background-repeat:no-repeat;
    background-size:24px 24px;
    background-position:28px 6px;
}
/* 头部区 End*/

/* 主导航区 Start */
.mainNavigator{
    height:48px;
    border-bottom:1px solid #DD302D;
}
.mainNavigator .categories{
    width:190px;
    height:48px ;
    background-color:#DD302D;
    color:white;
    text-align:center;
    line-height:48px;
    font-size:16px;
}
.mainNavigator .navList{
    height:48px;
    line-height:48px;
}
.mainNavigator .navList li{
    float:left;
    margin:0 10px;
    font-size:16px;
}
/* 主导航区 End */

/* 主内容区 Start */
.mainContent{
    margin-top:10px;
}
.mainContent .slideNavigator{
    width:190px;
    height:458px;
    background-color:#f4f4f4;
    position:relative;
}
.mainContent .slideNavigator li{
    font-size:14px;
    height:28px;
    line-height:28px;
    padding-left:16px;
}
.mainContent .slideNavigator li:hover{
    background-color:#DD302D;
}.mainContent .slideNavigator li:hover .secondMenu{
    display:block;
 }

.mainContent .slideNavigator li > a:hover{
    color:white;
}
.mainContent .slideNavigator li .secondMenu{
    width:680px;
    height:458px;
    background-color:white;
    position:absolute;
    top:0;
    left:190px;
    padding-left:20px;
    display:none
}
.secondMenu dl{
    height:36px;
    line-height:36px;
}
.secondMenu dl:first-child{
    margin-top:10px;
}
.secondMenu dt{
    float:left;
    width:70px;
    font-weight:bold;
    margin-right:10px;
}
.secondMenu dd{
    float:left;
}
.secondMenu dd a{
    padding:0 10px;
    border-left:1px solid #666666;
}

.mainContent .rotograph{
    width:690px;
    height:458px;
    /*background-color: #799ab6;*/
    background-image:url("../images/slider.png");
    background-repeat:no-repeat;
    margin:0 10px;
}

.mainContent .rightContent{
    width:290px;
    height:458px;
    /*background-color: #1974c4;*/
}
.mainContent .message{
    width:260px;
    height:156px;
    border:1px solid #d9d9d9;
    padding:0 14px;
}
.mainContent .message .title{
    height:38px;
    line-height:38px;
    border-bottom:1px solid #d9d9d9;
}
.mainContent .message .title span{
    font-size:14px;
}
.mainContent .message .title a{
    font-size:12px;
}
.mainContent .message .msgList{
    height:26px;
    line-height:26px;
}

.mainContent .iconNavigator{
    width:290px;
    height:290px;
    /*background-color:aliceblue;*/
    margin-top:10px;
    overflow:hidden;
}
.mainContent .iconNavigator .other-nav-list li{
    height:70px;
    width:48px;
    /*background-color:orange;*/
    float:left;
    margin:0 11px;
    text-align:center;
    font-size:14px;
    cursor:pointer;
}
.mainContent .iconNavigator .other-nav-list:first-child{
    margin-top:16px;
}
.mainContent .iconNavigator .other-nav-list:nth-child(2){
    margin:17px 0;
}
.mainContent .iconNavigator .other-nav-list li:first-child{
    margin-left:16px;
}
.mainContent .iconNavigator .other-nav-list li div{
    margin-bottom:10px;
}
.mainContent .iconNavigator .other-nav-list li .picture1{
    width:48px;
    height:48px;
    background-image:url("../images/icon/话费.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture2{
    width:48px;
    height:48px;
    background-image:url("../images/icon/火车票.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture3{
    width:48px;
    height:48px;
    background-image:url("../images/icon/加油卡.png");
    background-size:48px 48px;

}
.mainContent .iconNavigator .other-nav-list li .picture4{
    width:48px;
    height:48px;
    background-image:url("../images/icon/白条.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture5{
    width:48px;
    height:48px;
    background-image:url("../images/icon/电影票iocn.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture6{
    width:48px;
    height:48px;
    background-image:url("../images/icon/_酒店.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture7{
    width:48px;
    height:48px;
    background-image:url("../images/icon/理财.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture8{
    width:48px;
    height:48px;
    background-image:url("../images/icon/旅行.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture9{
    width:48px;
    height:48px;
    background-image:url("../images/icon/礼品卡.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture10{
    width:48px;
    height:48px;
    background-image:url("../images/icon/彩票.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture11{
    width:48px;
    height:48px;
    background-image:url("../images/icon/游戏，游戏机.png");
    background-size:48px 48px;
}
.mainContent .iconNavigator .other-nav-list li .picture12{
    width:48px;
    height:48px;
    background-image:url("../images/icon/京东众筹.png");
    background-size:48px 48px;
}

.seckill{
    margin-top:10px;
}
.seckill img{
    float:left;
    margin-right:11px;
    cursor:pointer;
}
.seckill img:last-child{
    margin-right:0;
}
/* 主内容区 Start */